<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Contact Us</title>
</head>
<body>
    <main class="contact-main">
        <h1 class="contact-heading">Contact</h1>
        <form class="contact-form" method="POST">
            <input type="email" name="email" placeholder="Email" required />
            <input type="name" name="name" placeholder="Name" required />
            <input type="subject" name="subject" placeholder="Subject" required />
            <textarea name="message" placeholder=" Message"></textarea>
            <input type='hidden' name='csrf_token' value='{{ csrf_token }}' />
            <div class="g-recaptcha" data-sitekey="{{ siteKey }}"></div>
            <input type="submit" value="Submit" />
        </form>
    </main>
</body>
</html>