<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Library App</title>
</head>
<body>
    <main class="search-main">
        <h1 class="search-heading">Search</h1>
        <form class="search-form" method="get">

            <select class="type-select" name="type">
                <option value="book">Book</option>
            </select>
            <input type="text" name="title" placeholder="Title" />
            <input type="text" name="author" placeholder="Author" />
            <input type="text" name="genre" placeholder="Genre" />
            <input type="submit" value="Submit" class="submit" />    
        </form>

        {% if admin %}
            <button class='add-item-button'>Add New Item</button>
        {% endif %}

            {% if validation_err is empty and validation_succ is empty %}
                <div class='add-item-form-wrapper' style="display: none">
            {% else %}
                <div class='add-item-form-wrapper' style="display: block">
            {% endif %}

            <form class='add-item-form' method="post">
                <h2 class="add-item-heading">Add Item</h2>

                {% if validation_err %}
                    <div class='error'><p>{{ validation_err }}</p></div>
                {% elseif validation_succ %}
                    <div class='succ'><p>{{ validation_succ }}</p></div>
                {% endif %}
            
                <select class="type-select" name="type">
                    <option value="book">Book</option>
                </select>
                <input type="text" name="title" placeholder="Title" required />
                <input type="text" name="author" placeholder="Author" required />
                <input type="text" name="genre" placeholder="Genre" required />
                <input type="number" name="quantity" placeholder="Quantity" required />
                <input type='hidden' name='csrf_token' value='{{ csrf_token }}' />
                <input type="submit" value="Submit" class="submit" />

            </form>
        </div>
        <div class="items-list">

            {% for item in items %}
                <div class='item'>
                    <div class='item-display-wrapper'>
                        <p class='item-title'>Title: {{ item.title }}</p>
                        <p class='item-author'>Author: {{ item.author }}</p>
                        <p class='item-genre'>Genre: {{ item.genre }}</p>
                        <p class='item-quantity'>Quantity: {{ item.quantity }}</p>

                        <form class='borrow-form' action='/project/borrowings' method='POST'>
                            <input type='date' name='date' min="{{ date_now }}" max="{{ date_max }}" class='date-input' required />
                            <input type='number' name='item_id' value='{{ item.item_id }}' class='input-hidden' />
                            <input type='hidden' name='csrf_token' value='{{ csrf_token }}' />
                            <input type='submit' value='Borrow' class='submit' />
                        </form>
                    </div>

                    {% if admin %}
                        <form class='update-quantity-form' method='post'>
                            <input type='hidden' name='csrf_token' value='{{ csrf_token }}' />
                            <input type='hidden' name='item_id' value='{{ item.item_id }}' />
                            <input type='hidden' name='_method' value='PUT'>
                            <input type='number' name='quantity' value='{{ item.quantity }}' />
                            <input type='submit' value='Update Quantity' class='submit' />
                        </form>
                        <form class='delete-item-form' method='post'>
                            <input type='hidden' name='csrf_token' value='{{ csrf_token }}' />
                            <input type='hidden' name='item_id' value='{{ item.item_id }}' />
                            <input type='hidden' name='_method' value='DELETE'>
                            <input type='submit' value='Delete Item' class='submit' />
                        </form>
                    {% endif %}

                </div>
            {% endfor %}

        </div>
    </main>
    <script>
        const button = document.querySelector('.add-item-button');
        const form = document.querySelector('.add-item-form-wrapper');
        form.addEventListener("click", (e) => {
            e.stopPropagation();
            if(e.target === e.currentTarget) form.style.display = 'none';
        });
        if(button) {
            button.addEventListener("click", () => {
                form.style.display = 'block';
            });
        }
    </script>
</body>
</html>