<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Log In</title>
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <main class="login-main">
        <h1 class="login-heading">Login</h1>
        <form class="login-form" method="POST">

            {% if email_err is not empty %}
                <div class='error'><p>{{ email_err }}</p></div>
            {% elseif password_err is not empty %}
                <div class='error'><p>{{ password_err }}</p></div>
            {% elseif login_err is not empty %}
                <div class='error'><p>{{ login_err }}</p></div>
            {% elseif captcha_err is not empty %}
                <div class='error'><p>{{ captcha_err }}</p></div>
            {% endif %}

            <input type="email" placeholder="Email" name="email" required />
            <input type="password" placeholder="Password" name="password" required />
            <br />
            <div class="g-recaptcha" data-sitekey="{{ siteKey }}"></div>
            <input type="submit" value="Login" class="submit" />    
        </form>
        <a href="/project/register">Don't have an account? Register.</a>
    </main>
</body>
</html>